streamlit
openai
python-dotenv
requests
typing
tavily-python
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
torchvision
torch
torchaudio
pypdf
docx2txt
fastapi
uvicorn
python-multipart
pydantic
python-docx
openpyxl
pandas
pillow
rank-bm25
rapidfuzz
pytest
pytest-cov
lingua-language-detector